/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Century Gothic", sans-serif;
    font-weight: 100;
    background-color: #111;
    color: #09f;
    font-variant: small-caps;
    opacity: 1;
    transition: opacity 600ms ease-out;
    @starting-style {
        opacity: 0;
    }
}

h1{
    text-align: center;
    font-weight: 200;
}

div{
    display:block;  
    border: 1px solid #09f;
    padding: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}
