/* You can add global styles to this file, and also import other style files */

body {
  animation: fadeIn 0.8s ease-in;
  perspective: 1200px;
}

.fade-in {
  animation: fadeIn 0.8s ease-in;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

